body{
    min-height: 2000px;
    height: 100vh;
    margin: 1rem auto;
    border: none;
    background-color: #a2d9ff 1px, solid;
   transform: rotate();
   margin-top: ;
   margin-bottom: ;
   background-linir
   
   
}

.jumbotron{
    padding-top: 2rem;
    background-color: #a2d9ff; 

}

footer{
    background-color:white;
    height: 189px;
}